<header class="page-header">
  {% include lateral-menu.html %}
  <img class="dat-face" src="{{ site.base-url }}/assets/img/anthonyGranger.png" alt="Anthony Granger">
  <h1>chocanto</h1>
  <h2>{{ site.t['subtitle'][page.lang] }}</h2>
  <div class="row social">
    <a href="https://github.com/Chocanto" target="_blank"><i class="fa fa-github"></i></a>
    <a href="https://twitter.com/Chocanto" target="_blank"><i class="fa fa-twitter"></i></a>
    <a href="https://fr.linkedin.com/in/anthony-granger-488231a5" target="_blank"><i class="fa fa-linkedin"></i></a>
    <a href="http://stackoverflow.com/users/4541118/anthony-granger" target="_blank"><i class="fa fa-stack-overflow"></i></a>
  </div>
</header>