article {
	.meta {
		font-size: $size-font-article-meta;
		color: white;
	}

	.date {
		text-align: right;
	}

	header {
		height: $height-article-header;
		position: relative;
		padding: 5px;
		box-shadow: 0px 5px 15px #888;

		h2 {
			font-size: $size-font-article-title;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			margin-bottom: 0;
			background-color: transparentize($color-main-green, 0.2);
			line-height: 1.5em;
			font-family: 'Roboto Slab', serif;

			a {
				color: white;
				margin-left: 10px;
				text-decoration: none;
			}

			a:hover {
				color: $color-light-grey;
			}
		}
	}
}

.entry {
	margin-top: 20px;
}