body {
	background-color: #F9F9F9;
}

.container {
	margin-top: 40px;
}

.container.full-width {
	width: 100%;
	padding:0;

	@media (min-width: 550px) {
		width: 80%;
	}
}

.overlay {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #000;
	opacity: 0.5;
	visibility: hidden;
	z-index: 99;

	&.active {
		visibility: visible;
	}
}