.clipped-menu {
	position: absolute;
	height: $height-header;
	width: 200px;
	clip: rect(0, auto, auto, 0);
	pointer-events: none;
}

a.burger-menu {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #FFF;
	z-index: 100;

	&.green {
		color: $color-main-green;
	}
}

//Default for mobile
.main-menu {
	position: fixed;
	top: 0;
	left: $left-nav-start-mobile;
	background-color: #FFF;
	height: 100%;
	width: $width-nav-mobile;
	border-style: solid;
	border-width: 50px 0 0 0;
	border-color: $color-main-green;
	transition: left 0.25s;
	text-align: center;
	box-shadow: 5px 0 10px #333;
	z-index: 100;
	pointer-events: all;

	ul {
		list-style: none;
	}

	li {
		margin-bottom: 0;
		height: $height-nav-item;
		line-height: $height-nav-item;
		a {
			color: #222;
			text-decoration: none;
			display: block;
		}

		&:hover {
			background-color: #eee;
		}
	}

	&.toggled {
		left: $left-nav-end-mobile;
	}
}

//Then for desktop screen
@media (min-width: 1200px) {
	.main-menu {
		visibility: visible;
		top: 10px;
		left: 10px;
		background-color: transparent;
		border-style: none;
		box-shadow: none;
		height: 100px;
		width: $width-nav-desktop;

		li {
			display: block;
			border: solid 1px #FFF;
			text-align: center;
			border-radius: 5px;
			margin-bottom: 10px;
			transition: 0.25s;

			a {
				display: block;
				font-size: $font-size-nav-desktop;
				color: #FFF;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 700;
				letter-spacing: 0.2em;
			}

			&:hover {
				background-color: white;
				a {
					color: $color-main-green;
				}
			}
		}

		&.green {
			li {
				border-color: $color-main-green;
				a {
					color: $color-main-green;
				}
				&:hover {
					background-color: $color-main-green;

					a {
						color: #FFF;
					}
				}
			}
		}
	}

	.burger-menu {
		visibility: hidden;
	}
}

.lang {

	li {
		display: inline-block;
		height: 1.5em;

		a {
			padding: 0 5px;
			line-height: 1.7em;
			font-weight: 300;
			text-transform: lowercase;

			&.en:lang(en), &.fr:lang(fr) {
				font-weight: 700;
				text-transform: uppercase; 
			}
		}
	}
}