---
layout: default
---

<article>
  {% include article-header.html %}
  <div class="entry" id="post">
    {{ content }}
    <hr>
    <div class="row">
      <div class="eight columns">
        Found a mistake, or just want to add your words to this post ?
      </div>
      <div class="four columns">
        <a class="button github-edit" href="{{ site.github-url }}{{ site.github-default-branch }}{{ page.path }}" target="_blank"><i class="fa fa-github"></i> Fork it on github</a>
      </div>
    </div>
  </div>
</article>